
{% extends 'inventory_base.html' %}
{% load static %}

    {% block body %}
   
        <br>
    
        <div class="button-group">
            <a href="{%url 'inventory' %}" class="btn btn-primary btn-md" role="button">Back</a>
        </div>
        <h2> Search by ID </h2>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by ID...">
        <br>
        <br>
        <h2> Search by Name </h2>
        <input type="text" id="myInput" onkeyup="myFunction1()" placeholder="Search by Name...">
    
        <br>
    
        <table class="table table-hover" id="myTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
        
    
            <tbody>
                {% for item in mylist %}
                <tr>
                    <td>{{item.product.id_product}}</td>
                    <td>{{item.product.name_product}}</td>
                    <td>{{item.product.size}}</td>
                    <td>{{item.product.Category}}</td>
                    <td>{{item.product.price}}</td>
                    <td>{{item.quantity}}</td>
                    
                    <td>
                        <a href="#" class="btn btn-warning btn-sm" role="button">Edit</a>
                        <a href="#" class="btn btn-danger btn-sm" role="button">x</a>
                    </td>
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <script>
            function myFunction() {
              // Declare variables
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");
            
              // Loop through all table rows, and hide those who don't match the search query
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
            </script>

<script>
    function myFunction1() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>

    <style>
        #myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
  #myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }
    </style>
    {% endblock %}
   